.two{
    background: #252F48 98% 86% no-repeat;
    border-collapse: collapse;
}
.one {
    background: #252F48;
    border-collapse: collapse;

}
th{
    font-weight: normal;
    font-size: 14px;
    color: #ffd07d;
    text-align:left;
    background: rgba(51, 51, 153, .2);
}
td {
    color: #669;
    border-top: 3px solid;
    padding: 10px 12px;
    background: rgba(51, 51, 153, .2);
    transition: .3s;
    text-align:left;
}
tr:hover td {
    background: rgba(221, 240, 176, 0.8);
}

button
{
    text-decoration: none;
    outline: none;
    display: inline-block;
    width: 38px;
    height: 35px;
    line-height: 45px;
    margin: 10px 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 9px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 400;
    color: #524f4e;
    background: url(/images/search.png);
    box-shadow: 0 8px 15px rgba(0,0,0,.0);
    transition: .3s;
    border: 0;
}
button:hover {
    box-shadow: 0 15px 20px rgba(46,229,157,.0);
    transform: translateY(-7px);
}
input {
    padding: 5px;
    font-size: 13px;
    border-radius: 12px;
@include border-radius(10px);
    background: rgba(255, 255, 255, .5);
@include appearance(none);
    outline: none;
    color: #333;
    width: 30%;
    height: 20%;
    left: 25%;
}

body{
    background-color: black;
    background-size: 100%;
}